.bodySectionContainer{
    display:flex;
    height: 100vh;
    width:100%;
    /* background-color: rgba(74,74,74,0.5); */
    margin-top: 10px;
}

.displayContainer{
    width:90%;
    height: 100vh;
    padding: 15px;
    /* background-color: red; */
}

.welcomeSection{
    width: 100%;
    height: 50vh;
    /* background-color: black; */
    /* background-image: url(../images/ironMan.gif) ; */
    background-size: cover;

}
.sectionBreaker{
    height:10px;
    border:solid;
    border-width: 1px;
    border-color:#fa7f21;
    border-right:none;
    border-top:none;
    border-left:none;
}

