.menuBarContainer {

  height: 100vh;
  padding: 15px;
  min-width:250px;
  background-color: #fd7e145e;

}
.menuBar {
  /* background-color: #fa7f21; */
  width: 100%;
  border-width:2px;
  border-style: solid;
  color:white;
  background-color:#fa7f21;
  border-radius:50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;

}

  .imageContainer {
    height: 170px;
    width: 100%;
    /* background-color: yellow;  */



}
.imageBlock{
height: 150px;
width: 100%;
/* background-color:red; */
justify-content: center;
display: flex;

}
.imageFile{
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: #fa7f21;
  border-radius: 130px;  
}

.nameBlock {
  height: 45px;
  width: 100%;
  background: #fa7f21;
  border-radius: 25px;
  text-align: center;
  color:white;
  display:flex;
  flex-direction: column;
}
.name{
  font-family: 'Times New Roman', Times, serif;
  font-size:16px;
  font-weight: bold;
}
.title{
  font-family: cursive;
  font-size:12px;
  font-weight:bold;
}
.menuBar > ul {
  list-style-type: none;
  
}
.menuBar > ul > li {
  margin:25px;
}
.menuBar a{
  color:white;
  font-family: sans-serif;
  font-size:12px;
  font-weight: bold;
  text-decoration: none;
  margin:15px;
}

 li a:hover {
  color:rgb(17, 223, 17);
}

.active{
  color:black !important;
}

.hiddenIcon{
  display:none;
}
 @media screen and (max-width: 529px) {
.menuBarContainer {
  display:none;
 }
}