
.signUpForm-title {
  text-align: center;
  margin-top: 30px;
}
.signUpForm {
  
  color:white;
  font-family: sans-serif;
  font-size: 16px;
  
}
tfoot {
  width: 100%;
}
tr {
  width:400px;
  
}
.signUpFormButtons{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;

}
.submit,
.cancel {
background-color:#fa7f21;
width:100px;
color:white;
border-radius: 20px;
border-color:white;
border-width: 1px;
font-family: sans-serif;
font-size: 12px;
font-weight: bold;
} 
